#u88,#u79-4
{
	font-family: open-sans-n4, sans-serif;
}

#u80-3
{
	font-family: open-sans-n4, sans-serif;
}

#u81,#u76,#u82,#u86-4
{
	font-family: open-sans-n4, sans-serif;
}

#u84-3
{
	font-family: open-sans-n4, sans-serif;
}

#u98-4
{
	font-family: open-sans-n4, sans-serif;
}

#u96-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu77_input,#widgetu83_input,#widgetu95_input
{
	font-family: open-sans, sans-serif;
}

#u101-4
{
	font-family: open-sans-n7, sans-serif;
}

#u100-4,#u99-12
{
	font-family: open-sans-n4, sans-serif;
}

