.version.index /* version checker */
{
	color: #00000B;
	background-color: #2C75E0;
}

#page
{
	z-index: 1;
	width: 700px;
	min-height: 377px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
	margin-left: auto;
	margin-right: auto;
}

#pwidgetu75
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 26px;
}

#widgetu75
{
	z-index: 2;
	width: 0.01px;
	height: 335px;
	margin-left: 19px;
	position: relative;
}

#widgetu87
{
	z-index: 3;
	width: 276px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#widgetu87.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u88-4
{
	z-index: 4;
	width: 275px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u89-3
{
	z-index: 8;
	width: 253px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu87.non-empty-st #u89-3
{
	background-color: #FFFFFF;
}

#widgetu87:hover #u89-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu87.focus-st #u89-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu87.non-empty-st #u89-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu87:hover #u89-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu87.focus-st #u89-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu87_input
{
	width: 253px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	padding: 6px;
}

#widgetu77
{
	z-index: 11;
	width: 276px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 346px;
}

#widgetu77.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u79-4
{
	z-index: 12;
	width: 275px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u80-3
{
	z-index: 16;
	width: 253px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu77.non-empty-st #u80-3
{
	background-color: #FFFFFF;
}

#widgetu77:hover #u80-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu77.focus-st #u80-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu77.non-empty-st #u80-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu77:hover #u80-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu77.focus-st #u80-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u81-4
{
	z-index: 19;
	width: 356px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
}

#widgetu75.frm-sub-st #u81-4 p,#widgetu75.frm-sub-st #u81-4 span
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-style: normal;
}

#u76-4
{
	z-index: 23;
	width: 356px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
}

#widgetu75.frm-subm-err-st #u76-4 p,#widgetu75.frm-subm-err-st #u76-4 span
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-style: normal;
}

#u82-4
{
	z-index: 27;
	width: 356px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
}

#widgetu75.frm-sub-st #u81-4,#widgetu75.frm-subm-err-st #u76-4,#widgetu75.frm-subm-ok-st #u82-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu75.frm-subm-ok-st #u82-4 p,#widgetu75.frm-subm-ok-st #u82-4 span
{
	color: #999999;
	font-size: 14px;
	font-style: normal;
}

#u88,#u81,#u76,#u82
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u91-17
{
	z-index: 31;
	min-height: 34px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 483px;
	background: url("../images/u91-17.png") no-repeat 0px 0px;
}

#u91-17:hover
{
	background: url("../images/u91-17-r.png") no-repeat 0px 0px;
}

#u91-17:active
{
	background: url("../images/u91-17-m.png") no-repeat 0px 0px;
}

#widgetu75.frm-sub-st #u91-17
{
	background: url("../images/u91-17-fs.png") no-repeat 0px 0px;
}

#widgetu83
{
	z-index: 48;
	width: 276px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 346px;
}

#widgetu83.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 179px -10000px 0px 0px;
}

#u86-4
{
	z-index: 49;
	width: 275px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu87.fld-err-st #u88-4,#widgetu83.fld-err-st #u86-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u84-3
{
	z-index: 53;
	width: 254px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu83.non-empty-st #u84-3
{
	background-color: #FFFFFF;
}

#widgetu83:hover #u84-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 254px;
	margin: 19px -10000px 0px 0px;
}

#widgetu83.focus-st #u84-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 254px;
	margin: 19px -10000px 0px 0px;
}

#widgetu83.fld-err-st #u84-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 254px;
	margin: 19px -10000px 0px 0px;
}

#widgetu83.non-empty-st #u84-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu83:hover #u84-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu83.focus-st #u84-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu83_input
{
	width: 254px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#widgetu95
{
	z-index: 56;
	width: 276px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 346px;
}

#widgetu95.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 119px -10000px 0px 0px;
}

#u98-4
{
	z-index: 57;
	width: 275px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu77.fld-err-st #u79-4,#widgetu95.fld-err-st #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu87.fld-err-st #u88-4 p,#widgetu87.fld-err-st #u88-4 span,#widgetu77.fld-err-st #u79-4 p,#widgetu77.fld-err-st #u79-4 span,#widgetu83.fld-err-st #u86-4 p,#widgetu83.fld-err-st #u86-4 span,#widgetu95.fld-err-st #u98-4 p,#widgetu95.fld-err-st #u98-4 span
{
	color: #D7244C;
}

#u96-3
{
	z-index: 61;
	width: 253px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu95.non-empty-st #u96-3
{
	background-color: #FFFFFF;
}

#widgetu95:hover #u96-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu95.focus-st #u96-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu87.fld-err-st #u89-3,#widgetu77.fld-err-st #u80-3,#widgetu95.fld-err-st #u96-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 253px;
	margin: 19px -10000px 0px 0px;
}

#widgetu95.non-empty-st #u96-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu95:hover #u96-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu95.focus-st #u96-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu87.fld-err-st #u89-3 *,#widgetu77.fld-err-st #u80-3 *,#widgetu83.fld-err-st #u84-3 *,#widgetu95.fld-err-st #u96-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu77_input,#widgetu95_input
{
	width: 253px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#widgetu87:hover #widgetu87_input,#widgetu87.focus-st #widgetu87_input,#widgetu87.fld-err-st #widgetu87_input,#widgetu77:hover #widgetu77_input,#widgetu77.focus-st #widgetu77_input,#widgetu77.fld-err-st #widgetu77_input,#widgetu83:hover #widgetu83_input,#widgetu83.focus-st #widgetu83_input,#widgetu83.fld-err-st #widgetu83_input,#widgetu95:hover #widgetu95_input,#widgetu95.focus-st #widgetu95_input,#widgetu95.fld-err-st #widgetu95_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u101-4
{
	z-index: 80;
	width: 299px;
	min-height: 55px;
	background-color: transparent;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	line-height: 31px;
	font-size: 26px;
	color: #404040;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 5px;
	top: -305px;
	margin-bottom: -55px;
	position: relative;
}

#u100-4
{
	z-index: 76;
	width: 299px;
	min-height: 55px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #404040;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	top: -248px;
	margin-bottom: -55px;
	position: relative;
}

#u99-12
{
	z-index: 64;
	width: 305px;
	min-height: 126px;
	background-color: transparent;
	color: #404040;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -186px;
	margin-bottom: -126px;
	position: relative;
}

#u99-2,#u99-6,#u99-8
{
	font-weight: 700;
}

#u104
{
	z-index: 84;
	width: 1px;
	height: 323px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 365px;
}

body
{
	position: relative;
	min-width: 700px;
}

#page .verticalspacer
{
	clear: both;
}

